@import url("https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500&display=swap");

html{
    font-size: 62.5%;
}
body{
    background-color: black;
    background-attachment: fixed;
    overflow-x: hidden; 
}
/*----------- nav ---------------*/
.img{
    width: 5vw;
    margin-left: 20px;
}
#nav{
    background-color: #121213d8;
    height: 10vh;
    opacity: .8;
}
#nave{
        color: #e8ba1e;
        font-size: 15px;
        margin-right: 15px;
    }
.position{
        display:flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: black;
    }
.tp{
    max-height: 85rem;
    width: 100%;
    opacity: .4;
}
.abs{
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------- section---------------*/
.zeusMachines{
    font-size: 50px;
    color: #eeebe3;
    padding-top: 40px;
    padding-bottom: 20px;
}
.gym{
    color: #adadad;
    font-size: 30px;
}
.historia{
    color: #6c6a6b;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.text{
    text-align: center;
    font-size: 15px;
    color: #e8ba1e;
    font-family: Arial, Helvetica, sans-serif;
}
.textPrecio{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeebe3;
}
.bor{
    color: #242422;
    background-color: #eeebe3;
}
.datos{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #6c6a6b;
    margin-bottom: 15px;
}
.dat{
    border-color: #e8ba1e;
    border-width: 2px;
    border-style: solid;
}
.cartasImg{
    width: 25vw;
    height: auto;   
}
.nosotros{
    background:#3f3d3ef3 url(img/nosotros.webp);
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    
}
.centro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tamaño{
    background-color: #242422;
    border-color: #e8ba1e;
    border-width: 2px;
    border-style: solid;
}
.bot{
    width: 100px;
    font-size: 13px;
    background-color: #e8ba1e;
    color: #242422;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.botoneta{
    width: 25px;
    background-color: #e8ba1e;
    color: #242422;
    font-size: 15px;
    font-weight: bold;
    border: #e8ba1e;
    border-width: 10px;
    border-radius: 10px;
}
.botoneto{
    width: 25px;
    background-color: #e40f0f;
    color: #242422;
    font-size: 15px;
    font-weight: bold;
    border: #e40f0f;
    border-width: 10px;
    border-radius: 10px;
}
/*----------- footer ---------------*/
.pieF{
    width: 4vw;
    height: auto;
    margin-left: 25px;
}
.pie{
    margin-top: 20px;
    font-size: 10px;
    color: white;
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rSociales{
    background-color: black;
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

